<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org" lang="en"></html>
<head th:replace="fragments :: head"></head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale-1.0, user-scalable=no">
<body>
<div th:replace="fragments :: navbar" ></div>
<main role="main">
    <div>
        <iframe
            width="600"
            height="450"
            frameborder="0" style="border:0"
            src="https://www.google.com/maps/d/u/0/embed?mid=1hJZ8hM8pnif0_0d7N8XR2lt989YGabn0">
        </iframe>
    </div>

<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-3" th:each="product : ${products}">-->
<!--                <div class="card">-->
<!--                    <img class="card-img-top"  th:src="@{${product.image}}" alt="Coffee Items" style="width:100%;height:220px;">-->
<!--                    <div class="card-body">-->
<!--                        <h5 class="card-title" th:text="${product.name}"></h5>-->
<!--                        <p class="card-text" th:text="${product.description}"></p>-->
<!--                        <p class="card-text" th:text="${product.price}"></p>-->
<!--                        <form th:action="@{/product/{id}(id=${product.id})}" th:object="${get}" method="get">-->
<!--                            <button class="btn btn-md btn-primary" name="Edit" value="Edit">View Product</button>-->
<!--                        </form>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->


    <div class="container">
        <div class="row">
            <p><a class="btn btn-primary btn-lg" href="/notjustcoffee" role="button">Begin Order &raquo;</a></p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <p><a class="btn btn-primary btn-lg" href="/starbucks" role="button">Begin Order &raquo;</a></p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <p><a class="btn btn-primary btn-lg" href="/othercafe" role="button">Begin Order &raquo;</a></p>
        </div>
    </div>

    <div>
        <p><a class="btn btn-primary btn-lg" href="/about" role="button">About Us &raquo;</a></p>
    </div>

    <div id="map"></div>
</main>
<footer th:replace="fragments :: footer"></footer>
</body>
</html>