<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments :: head"></head>
<body>
<div th:replace="fragments :: navbar"></div>
<main role="main">

    <div class="container">
        <h1 class="display-3">Coffee & Tequila</h1>
        <p></p>
        <p></p>
        <p><a class="btn btn-primary btn-lg" href="/coffeeshops" role="button">Select Coffee Shop &raquo;</a></p>
        <p><a class="btn btn-primary btn-lg" href="/about" role="button">About Us &raquo;</a></p>
    </div>




</main>
<footer th:replace="fragments :: footer"></footer>
</body>
</html>