<!--<!DOCTYPE HTML>-->
<!--<html xmlns:th="http://www.thymeleaf.org" lang="en">-->
<!--<head th:replace="fragments :: head"></head>-->
<!--<body>-->
<!--<div th:replace="fragments :: navbar" ></div>-->

<!--<div class="container">-->
<!--    <div class="card mb-3 large-product-card">-->
<!--        <div class="row no-gutters">-->
<!--            <div class="col-md-6">-->
<!--                <img th:alt="${product_1.name}" th:src="@{${product_1.image}}" class="card-img" style="max-height: 100%; object-fit: cover;" />-->
<!--            </div>-->
<!--            <div class="col-md-4">-->
<!--                <div class="card-body">-->
<!--                    <div class="card-title">-->
<!--                        <h4 th:text="${product_1.name}" style="margin-bottom: 0;"></h4>-->
<!--                        <small th:text="${product_1.getBrand()}"></small>-->
<!--                    </div>-->
<!--                    <h5 class="card-text" th:text="${#numbers.formatCurrency(product_1.price)}"></h5>-->
<!--                    <p class="card-text" th:text="${product_1.description}"></p>-->
<!--                    <form th:action="@{/cart}" th:object="${product_1}" method="post">-->
<!--                        <input type="hidden" th:field="*{id}" />-->
<!--                        <button type="submit" class="btn btn-primary">Add to Cart</button>-->
<!--                    </form>-->
<!--                </div>-->
<!--            </div>-->
<!--&lt;!&ndash;    <div th:replace="fragments :: navbar" ></div>&ndash;&gt;-->
<!--    <main role="main">-->
<!--&lt;!&ndash;        <iframe&ndash;&gt;-->
<!--&lt;!&ndash;                width="600"&ndash;&gt;-->
<!--&lt;!&ndash;                height="450"&ndash;&gt;-->
<!--&lt;!&ndash;                frameborder="0" style="border:0"&ndash;&gt;-->
<!--&lt;!&ndash;                src="https://www.google.com/maps/d/u/0/embed?mid=1hJZ8hM8pnif0_0d7N8XR2lt989YGabn0">&ndash;&gt;-->
<!--&lt;!&ndash;        </iframe>&ndash;&gt;-->
<!--&lt;!&ndash;        <p><a class="btn btn-primary btn-lg" href="/notjustcoffee" role="button">Begin Order &raquo;</a></p>&ndash;&gt;-->

<!--        <div id="map">-->
<!--        </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--<footer th:replace="fragments :: footer"></footer>-->
<!--</body>-->
<!--</html>-->