<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head><link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous"></head>
<body>


<main role="main">
    <div class="container">
        <form class="form-signin" th:action="@{/signin}" method="post">
            <h2 class="form-signin-heading" style="text-align: center">Please Sign In</h2>
            <p>
                <label for="username" class="sr-only">Username</label>
                <input type="text" id="username" name="username" class="form-control" placeholder="Username">
            </p>
            <p>
                <label for="password" class="sr-only">Password</label>
                <input type="password" id="password" name="password" class="form-control" placeholder="Password">
            </p>
            <div style="display: flex; justify-content: space-between">
                <button class="btn btn-lg btn-primary" name="submit" value="in" type="submit" style="flex-grow: 0.95">Sign In</button>
            </div>
            <form th:action="@{/registration}" method="get">
                <button class="btn btn-sm btn-info btn pull-right " name="Submit" value="Signin" type="Submit">Sign Up</button>
            </form>

        </form>
    </div>
</main>


</body>
</html>