.App {
  text-align: center;
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: bottom;
  display: flex;
}
html, body{
  height: 100vh;
}

/*.App-logo {*/
/*  animation: App-logo-spin infinite 20s linear;*/
/*  height: 40vmin;*/
/*  pointer-events: none;*/
/*}*/

/*.App-header {*/
/*  background-color: #282c34;*/
/*  min-height: 200vh;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*  font-size: calc(10px + 2vmin);*/
/*  color: blue;*/
/*}*/

/*.App-link {*/
/*  color: #61dafb;*/
/*}*/

/*@keyframes App-logo-spin {*/
/*  from {*/
/*    transform: rotate(0deg);*/
/*  }*/
/*  to {*/
/*    transform: rotate(360deg);*/
/*  }*/
/*}*/

